table {
  width: 100%;
}

.container{
  margin: 1rem 2rem;
}

td, th {
  width: 25%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.border{
  border-top: 1px solid;
  padding: 2px;
  box-shadow: 2px, 5px #222;
}

