<mat-toolbar color="primary">
    <h1>Nuevo producto</h1>
</mat-toolbar>
<div class="container">
    <mat-card class="example-card">
        <mat-card-subtitle>Complete los campos</mat-card-subtitle>
        <mat-card-content>
            <form class="example-form" [formGroup]="productForm" (ngSubmit)="postForm(productForm.value)"
                #form="ngForm">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ej. Portamina">
                    <mat-error *ngIf="productForm.controls.name.errors?.required">
                        El nombre es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Marca</mat-label>
                    <mat-select>
                        <mat-option value="volvo">Faber castell</mat-option>
                        <mat-option value="saab">Bic</mat-option>
                        <mat-option value="mercedes">Sabonis</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Categoría</mat-label>
                    <mat-select>
                        <mat-option value="volvo">Lápices</mat-option>
                        <mat-option value="saab">Resmas</mat-option>
                        <mat-option value="mercedes">Cuadernos</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-card-actions class="mt-1">
                    <button class="example-full-width" mat-raised-button color="primary">Guardar</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>