<mat-toolbar color="primary" >
    <button mat-icon-button class="example-icon" (click)="onSetDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Librería Mariela</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="changeMode()" title="mode">
      <mat-icon *ngIf="theme">dark_mode</mat-icon>
      <mat-icon *ngIf="!theme">light_mode</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" title="login">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
