<app-title-h1 [text]="text" color="primary"></app-title-h1>
<div class="container">
    <mat-card class="example-card">
        <mat-card-subtitle>Complete los campos</mat-card-subtitle>
        <mat-card-content>
            <form class="example-form" [formGroup]="productForm" (ngSubmit)="postForm(productForm.value)"
                #form="ngForm">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ej. Portamina">
                    <mat-error *ngIf="productForm.controls.name.errors?.required">
                        El nombre es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option 
                        *ngFor="let category of categories; let i = index"
                        [value]="category.id">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Marca</mat-label>
                    <mat-select formControlName="brandId">
                        <mat-option
                        *ngFor="let brand of brands; let i = index" 
                        [value]="brand.id">{{brand.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-card-actions class="mt-1">
                    <button class="example-full-width" mat-raised-button color="primary">Guardar</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>