table {
    width: 100%;
}

.container{
    margin: 1rem 2rem 10rem 2rem;
}

td, th {
    width: 25%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.actionsBtn{
    margin-left: 5px;
    margin-right: 5px;
}

.mt-2{
    margin-top: 2rem;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }