<app-title-h1 [text]="text" color="primary"></app-title-h1>
<div class="container">
    <button mat-mini-fab color="primary" (click)="addOrder()" matTooltip="Añadir nuevo pedido"
        matTooltipPosition="right">
        <mat-icon>add</mat-icon>
    </button>
    <!-- PANEL -->
    <div class="mt-2">
        <mat-accordion class="example-headers-align " multi>
            <mat-expansion-panel *ngFor="let item of orders">
                <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="item.total != 0">
                        TOTAL: {{ item.total | currency:'AR':'$':'1.2-2' }}
                    </mat-panel-title>
                    <mat-panel-title *ngIf="item.total == 0">
                        PEDIDO SIN DETALLES
                    </mat-panel-title>
                    <mat-panel-description [ngSwitch]="item.status">
                        <div *ngSwitchCase="'NEW_ORDER'">Nuevo</div>
                        <div *ngSwitchCase="'DENY'">Denegado</div>
                        <div *ngSwitchCase="'OK'">Aceptado</div>
                        <div *ngSwitchCase="'PREPARATION'">Pendiente</div>
                        <div *ngSwitchCase="'CANCELLED'">Cancelado</div>
                        <div *ngSwitchCase="'DELIVERED'">Pagado y entregado</div>
                        <div *ngSwitchDefault>Sin estado</div>
                        <button *ngIf="item.status == 'NEW_ORDER' || item.status == 'PREPARATION'" mat-icon-button color="warn" class="actionsBtn" (click)="addDetail(item.id)"
                            matTooltip="Agregar productos al pedido" matTooltipPosition="above">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button *ngIf="item.status == 'NEW_ORDER'" mat-icon-button color="warn" class="actionsBtn" (click)="onDelete(item.id)"
                            matTooltip="Eliminar producto" matTooltipPosition="above">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <mat-icon>info</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let subItem of item.orderDetailDtos">
                    <div class="grid">
                        <span>Cantidad: {{ subItem.quantity }} </span>
                        <span>Subtotal: {{ subItem.subtotal | currency:'AR':'$':'1.2-2'}}</span>
                        <span>Método de pago: {{ item.paymentMethod }} </span>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>