<div class="pre-footer-separator"></div>
<footer>
    <div class="container">
        <div class="box">
            <h3>Tús útiles escolares en un solo lugar.</h3>
            <img [src]="brandImage" class="img" alt="logo" style="cursor: pointer;">
        </div>
        <div class="box">
            <h3>Sobre nosotros.</h3>
            <p>
                Somos una librería familiar dedicada a la venta de artículos y útiles escolares
                con más de 20 años de experiencia en el rubro, estamos ubicados 
                en Paso de los Andes 902 de Godoy Cruz, Mendoza, Argentina.
            </p>
        </div>
        <div class="box">
            <h3>Horarios:</h3>
            <p>DE LUNES A VIERNES </p>
            <p>De 09:00 a 13:00 Hs.</p>
            <p>De 17:00 a 20:00 Hs. </p>
            <p>SÁBADOS </p>
            <p>10:00 a 13:00 Hs. </p>
        </div>
    </div>
    <!-- <app-title-bottom [developer]="text" color="secondary"></app-title-bottom> -->
</footer>