<app-title-h1 [text]="text" color="primary"></app-title-h1>
<div class="container">
    <button mat-mini-fab color="primary" *ngIf="isAdmin" (click)="addProduct()" matTooltip="Añadir nuevo producto"
        matTooltipPosition="right">
        <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="searchFilter($event)" placeholder="Ejemplo. Lápiz" #input autocomplete="off">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
                <td mat-cell *matCellDef="let row">
                    <div *ngIf="row.price != null">
                        {{ row.price | currency:'AR':'$':'1.2-2' }}
                    </div>
                    <div *ngIf="row.price == null">
                        <button mat-icon-button class="actionsBtn" matTooltip="Sin precio"
                            matTooltipPosition="above">
                            <mat-icon>info</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions" *ngIf="isAdmin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let row">
                    <button *ngIf="row.stockControl != null" mat-mini-fab color="warn" class="actionsBtn"
                        (click)="goToDetail(row.id)" matTooltip="Ver compras y stock" matTooltipPosition="above">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <button *ngIf="row.stockControl == null" mat-mini-fab color="accent" class="actionsBtn"
                        (click)="goToDialogForm(row.id)" matTooltip="Nueva compra de stock" matTooltipPosition="above">
                        <mat-icon>local_mall</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" class="actionsBtn" (click)="editProduct(row.id)"
                        matTooltip="Editar producto" matTooltipPosition="above">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" class="actionsBtn" (click)="onDelete(row.id)"
                        matTooltip="Eliminar producto" matTooltipPosition="above">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Seleccione la página de productos">
        </mat-paginator>
    </div>
</div>