<h1 mat-dialog-title>Primer compra para el stock del producto </h1>
<div class="example-container">
    <form class="example-form" [formGroup]="purchaseStockForm" (ngSubmit)="onSubmit()">
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input formControlName="quantity" (keypress)="onlyNumber($event)" matInput class="example-right-align" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <mat-label>Precio de costo</mat-label>
                <input formControlName="costPrice" type="number" matInput placeholder="0" class="example-right-align" autocomplete="off">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button class="example-full-width" color="accent">Guardar</button>
        </div>
    </form>
</div>