<header>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <button *ngIf="isAdmin" mat-icon-button class="example-icon" (click)="onSetDrawer()">
        <mat-icon>{{ Icons.MENU}}</mat-icon>
    </button>
    <span><img [src]="brandImage" class="img" alt="logo" (click)="goToHome()" style="cursor: pointer;"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="changeMode()" title="mode">
      <mat-icon *ngIf="theme">{{ Icons.DARK }}</mat-icon>
      <mat-icon *ngIf="!theme">{{ Icons.LIGHT }}</mat-icon>
    </button>
    <button *ngIf="isAdmin && isLogged" mat-icon-button class="example-icon" title="dashboard" (click)="goToDashboard()">
      <mat-icon>{{ Icons.DASHBOARD }}</mat-icon>
    </button>
    <button *ngIf="isLogged" mat-icon-button class="example-icon" title="usuario">
      <mat-icon>{{ Icons.USER }}</mat-icon>
    </button>
    <button *ngIf="!isLogged" mat-icon-button class="example-icon" title="login" (click)="goToLogin()">
      <mat-icon>{{ Icons.LOGIN }}</mat-icon>
    </button>
    <button *ngIf="isLogged" mat-icon-button class="example-icon" title="logout" (click)="onLogOut()">
      <mat-icon>{{ Icons.LOGOUT }}</mat-icon>
    </button>
  </mat-toolbar>
</header>